@charset "utf-8";

.container {
  max-width: 720px;
}

footer dt {
  display: inline-block;
}

footer dt::after {
  content: " :";
}

footer dd {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 1em;
}
